@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .text-primary-gradient {
    @apply bg-primary-gradient bg-clip-text text-transparent;
  }
  
  .hover\:text-primary-gradient-hover:hover {
    @apply bg-primary-gradient-hover bg-clip-text text-transparent;
  }
}

body{
  background: #fff;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}